openapi: 3.0.3
info:
  title: CompPare API
  description: API para gerenciamento de usuários, pastas, fotos e planos da plataforma CompPare
  version: 1.0.0
  contact:
    name: CompPare Support
    email: luispimenta.contato@gmail.com
servers:
  - url: https://api.comppare.com.br/api
    description: Servidor de produção
  - url: http://127.0.0.1:8000/api
    description: Servidor de desenvolvimento

paths:
  /test:
    get:
      summary: Testa a conectividade da API
      tags:
        - Test
      responses:
        '200':
          description: API funcionando corretamente

  /usuarios/cadastrar:
    post:
      summary: Cadastra um novo usuário
      tags:
        - Usuários
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - primeiroNome
                - sobrenome
                - cpf
                - senha
                - telefone
                - email
                - idPlano
                - nascimento
              properties:
                primeiroNome:
                  type: string
                  example: "Luis"
                sobrenome:
                  type: string
                  example: "Pimenta"
                apelido:
                  type: string
                  example: "luispimenta95"
                cpf:
                  type: string
                  example: "02049035055"
                senha:
                  type: string
                  example: "Mp13151319!"
                telefone:
                  type: string
                  example: "61998690313"
                email:
                  type: string
                  format: email
                  example: "luispimenta.contato@gmail.com"
                idPlano:
                  type: integer
                  example: 1
                nascimento:
                  type: string
                  format: date
                  example: "19/09/1995"
      responses:
        '201':
          description: Usuário cadastrado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 201
                  message:
                    type: string
                  usuario:
                    $ref: '#/components/schemas/Usuario'
                  token:
                    type: string
        '409':
          description: Usuário já existe

  /usuarios/autenticar:
    post:
      summary: Autentica um usuário
      tags:
        - Usuários
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cpf
                - senha
              properties:
                cpf:
                  type: string
                  example: "02049035055"
                senha:
                  type: string
                  example: "13151319"
      responses:
        '200':
          description: Autenticação realizada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 200
                  message:
                    type: string
                  token:
                    type: string
                  dados:
                    $ref: '#/components/schemas/Usuario'
                  pastas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pasta'
                  tags:
                    $ref: '#/components/schemas/TagsResponse'
                  regras:
                    $ref: '#/components/schemas/Regras'
                  dados:
                    $ref: '#/components/schemas/Usuario'
                  pastas:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pasta'
                  regras:
                    $ref: '#/components/schemas/Regras'
        '404':
          description: Usuário não encontrado
        '400':
          description: Usuário bloqueado ou assinatura expirada

  /usuarios/atualizar-plano:
    post:
      summary: Atualiza o plano de um usuário
      tags:
        - Usuários
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cpf
                - plano
              properties:
                cpf:
                  type: string
                  example: "81581828012"
                plano:
                  type: integer
                  example: 5
      responses:
        '200':
          description: Plano alterado com sucesso
        '400':
          description: Downgrade não permitido

  /usuarios/atualizar-senha:
    post:
      summary: Atualiza a senha do usuário
      tags:
        - Usuários
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cpf
                - senha
              properties:
                cpf:
                  type: string
                  example: "42708782070"
                senha:
                  type: string
                  example: "123"
      responses:
        '200':
          description: Senha atualizada com sucesso

  /usuarios/esqueceu-senha:
    post:
      summary: Solicita recuperação de senha
      tags:
        - Usuários
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: "teste@gmail.com"
      responses:
        '200':
          description: Email de recuperação enviado

  /pasta/create:
    post:
      summary: Cria uma nova pasta
      tags:
        - Pastas
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - idUsuario
                - nomePasta
              properties:
                idUsuario:
                  type: integer
                  example: 2
                nomePasta:
                  type: string
                  example: "pimenta/upload0"
      responses:
        '201':
          description: Pasta criada com sucesso

  /pasta/excluir:
    delete:
      summary: Exclui uma pasta
      tags:
        - Pastas
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - idUsuario
                - idPasta
              properties:
                idUsuario:
                  type: integer
                  example: 2
                idPasta:
                  type: integer
                  example: 40
      responses:
        '200':
          description: Pasta excluída com sucesso

  /pasta/recuperar:
    get:
      summary: Recupera uma pasta específica
      tags:
        - Pastas
      security:
        - BearerAuth: []
      parameters:
        - name: idPasta
          in: query
          required: true
          schema:
            type: integer
            example: 26
      responses:
        '200':
          description: Pasta recuperada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pasta'

  /planos/cadastrar:
    post:
      summary: Cadastra um novo plano
      tags:
        - Planos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanoInput'
      responses:
        '201':
          description: Plano criado com sucesso

  /planos/listar:
    get:
      summary: Lista todos os planos
      tags:
        - Planos
      responses:
        '200':
          description: Lista de planos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plano'

  /cupons/cadastrar:
    post:
      summary: Cadastra um novo cupom
      tags:
        - Cupons
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cupom
                - percentualDesconto
                - quantidadeDias
              properties:
                cupom:
                  type: string
                  example: "Teste"
                percentualDesconto:
                  type: number
                  example: 10
                quantidadeDias:
                  type: integer
                  example: 5
      responses:
        '201':
          description: Cupom criado com sucesso

  /pix/enviar:
    post:
      summary: Cria uma cobrança PIX
      tags:
        - Pagamentos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - usuario
                - plano
              properties:
                usuario:
                  type: integer
                  example: 2
                plano:
                  type: integer
                  example: 3
      responses:
        '200':
          description: Cobrança criada com sucesso

  /pix/atualizar:
    post:
      summary: Atualiza status de cobranças PIX (webhook EFI)
      description: Endpoint utilizado pela EFI para notificar mudanças de status nas cobranças PIX recorrentes
      tags:
        - Pagamentos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recs
              properties:
                recs:
                  type: array
                  items:
                    type: object
                    required:
                      - idRec
                      - status
                    properties:
                      idRec:
                        type: string
                        example: "RR1026652320240821lab77511abf"
                        description: "ID único da cobrança recorrente"
                      status:
                        type: string
                        enum: [CRIADA, APROVADA, REJEITADA, CANCELADA]
                        example: "APROVADA"
                        description: "Novo status da cobrança"
                      atualizacao:
                        type: array
                        items:
                          type: object
                          properties:
                            status:
                              type: string
                            data:
                              type: string
                              format: date-time
                      ativacao:
                        type: object
                        properties:
                          tipoJornada:
                            type: string
                          dadosJornada:
                            type: object
                            properties:
                              txid:
                                type: string
      responses:
        '200':
          description: Atualização processada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: "Atualização de cobranças processada"
                  total_processados:
                    type: integer
                    example: 1
                  resultados:
                    type: array
                    items:
                      type: object
                      properties:
                        idRec:
                          type: string
                          example: "RR1026652320240821lab77511abf"
                        status:
                          type: string
                          example: "APROVADA"
                        status_anterior:
                          type: string
                          example: "ATIVA"
                        atualizado:
                          type: boolean
                          example: true
                        motivo:
                          type: string
                          example: "Pagamento não encontrado no sistema"
                          description: "Motivo quando atualizado=false"
        '400':
          description: Dados inválidos
        '500':
          description: Erro interno do servidor

  /pix/webhook:
    put:
      summary: Configura webhook para notificações de cobrança PIX
      description: |
        Configura a URL do webhook que receberá notificações sobre mudanças de status das cobranças PIX.
        
        **REQUISITOS OBRIGATÓRIOS:**
        - URL deve usar HTTPS
        - Autenticação TLS mútuo deve estar configurada
        - Certificado SSL válido e acessível externamente
        
        **Configuração:** Configure WEBHOOK_PIX_URL no .env ou forneça webhookUrl na requisição.
      tags:
        - Pagamentos
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                webhookUrl:
                  type: string
                  format: uri
                  example: "https://seu-dominio-com-tls-mutuo.com/api/webhookcobr/"
                  description: "URL que receberá as notificações (opcional, usa WEBHOOK_PIX_URL do .env se não fornecida)"
      responses:
        '200':
          description: Webhook configurado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: "Webhook configurado com sucesso"
                  data:
                    type: object
                    properties:
                      webhookUrl:
                        type: string
                        example: "https://seu-dominio.com/api/webhookcobr/"
                      configurado_em:
                        type: string
                        format: date-time
                        example: "2024-08-08 15:30:00"
                      observacao:
                        type: string
                        example: "Webhook configurado com autenticação TLS mútuo"
        '400':
          description: Dados inválidos ou URL não configurada
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: "URL do webhook não configurada. Configure WEBHOOK_PIX_URL no .env ou forneça webhookUrl na requisição."
                  observacao:
                    type: string
                    example: "A URL deve estar configurada com autenticação TLS mútuo conforme documentação da EFI"
        '500':
          description: Erro ao configurar webhook (TLS mútuo não configurado)
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: "Erro ao configurar webhook"
                  error:
                    type: string
                    example: "Autenticação TLS mútuo não está configurada na URL informada. Configure um certificado SSL com autenticação mútua."
                  sugestoes:
                    type: array
                    items:
                      type: string
                    example: [
                      "Verifique se a URL possui certificado SSL válido",
                      "Confirme se a autenticação TLS mútuo está configurada",
                      "Teste se a URL está acessível externamente",
                      "Consulte a documentação da EFI sobre configuração de webhooks"
                    ]

  /tags/cadastrar:
    post:
      summary: Cadastra uma nova tag pessoal
      description: Cria uma nova tag para o usuário, verificando limite do plano
      tags:
        - Tags
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nomeTag
                - usuario
              properties:
                nomeTag:
                  type: string
                  maxLength: 255
                  example: "Família"
                  description: "Nome da tag a ser criada"
                usuario:
                  type: integer
                  example: 1
                  description: "ID do usuário que está criando a tag"
      responses:
        '201':
          description: Tag criada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 201
                  message:
                    type: string
                    example: "Tag criada com sucesso."
                  tag:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      nome:
                        type: string
                        example: "Família"
                      tipo:
                        type: string
                        example: "pessoal"
                      criada_em:
                        type: string
                        format: date-time
                        example: "2024-01-15 10:30:00"
                  limites:
                    type: object
                    properties:
                      usado:
                        type: integer
                        example: 5
                        description: "Número de tags já criadas (incluindo a nova)"
                      limite:
                        type: integer
                        example: 10
                        description: "Limite máximo de tags do plano"
                      restante:
                        type: integer
                        example: 5
                        description: "Quantidade de tags que ainda podem ser criadas"
        '400':
          description: Dados inválidos ou usuário sem plano
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: "Usuário não possui plano associado."
        '403':
          description: Limite de tags atingido
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: "Limite de tags do plano atingido."
                  detalhes:
                    type: object
                    properties:
                      limite_plano:
                        type: integer
                        example: 10
                      tags_criadas:
                        type: integer
                        example: 10
                      plano_atual:
                        type: string
                        example: "Plano Básico"
                      sugestao:
                        type: string
                        example: "Faça upgrade do seu plano para criar mais tags."
        '404':
          description: Usuário não encontrado
        '409':
          description: Tag já existe
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 409
                  message:
                    type: string
                    example: "Você já possui uma tag com este nome."
                  tag_existente:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 5
                      nome:
                        type: string
                        example: "Família"
                      criada_em:
                        type: string
                        format: date-time
                        example: "2024-01-10 08:20:00"

  /tags/usuario:
    get:
      summary: Lista tags do usuário
      description: Retorna tags pessoais e globais disponíveis para o usuário
      tags:
        - Tags
      security:
        - BearerAuth: []
      parameters:
        - name: usuario
          in: query
          required: true
          schema:
            type: integer
            example: 1
          description: ID do usuário
      responses:
        '200':
          description: Lista de tags do usuário
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: "OK"
                  totalTags:
                    type: integer
                    example: 15
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tag'

  /tags/excluir:
    delete:
      summary: Exclui uma tag pessoal
      description: Remove uma tag pessoal do usuário (apenas o criador pode excluir)
      tags:
        - Tags
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - idTag
                - usuario
              properties:
                idTag:
                  type: integer
                  example: 1
                  description: "ID da tag a ser excluída"
                usuario:
                  type: integer
                  example: 1
                  description: "ID do usuário que está excluindo a tag"
      responses:
        '200':
          description: Tag excluída com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: "Tag excluída com sucesso."
                  tag_excluida:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      nome:
                        type: string
                        example: "Família"
                      criada_em:
                        type: string
                        format: date-time
                        example: "2024-01-15 10:30:00"
                      excluida_em:
                        type: string
                        format: date-time
                        example: "2024-01-16 14:20:00"
                  limites_atualizados:
                    type: object
                    properties:
                      tags_antes:
                        type: integer
                        example: 5
                        description: "Número de tags antes da exclusão"
                      tags_depois:
                        type: integer
                        example: 4
                        description: "Número de tags após a exclusão"
                      limite_plano:
                        type: integer
                        example: 10
                        description: "Limite máximo de tags do plano"
                      disponivel_criar:
                        type: integer
                        example: 6
                        description: "Quantidade de tags que ainda podem ser criadas"
        '400':
          description: Tag já foi excluída anteriormente
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: "Esta tag já foi excluída anteriormente."
                  tag:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      nome:
                        type: string
                        example: "Família"
                      status:
                        type: string
                        example: "inativa"
        '403':
          description: Usuário não tem permissão para excluir a tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: "Você só pode excluir suas próprias tags."
                  detalhes:
                    type: object
                    properties:
                      tag_id:
                        type: integer
                        example: 1
                      tag_nome:
                        type: string
                        example: "Família"
                      criador_tag:
                        type: integer
                        example: 2
                      usuario_solicitante:
                        type: integer
                        example: 1
        '404':
          description: Tag não encontrada

  /pix/ssl-status:
    get:
      summary: Verifica status das configurações SSL e certificados
      description: |
        Endpoint de diagnóstico para verificar:
        - Status da verificação SSL (habilitada/desabilitada)
        - Ambiente atual (local/produção)
        - Presença de certificados necessários
        - Configurações do webhook PIX
        
        **Útil para debugging de problemas SSL** como "self-signed certificate in certificate chain"
      tags:
        - Pagamentos
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Status das configurações SSL
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 200
                  dados:
                    type: object
                    properties:
                      environment:
                        type: string
                        example: "local"
                        description: "Ambiente atual (local/production)"
                      ssl_verify_disabled:
                        type: boolean
                        example: true
                        description: "Se verificação SSL está desabilitada"
                      webhook_url:
                        type: string
                        example: "https://localhost:8000/api/pix/atualizar"
                        description: "URL configurada para webhook PIX"
                      certificates:
                        type: object
                        properties:
                          cliente_homologacao:
                            type: string
                            example: "presente"
                            description: "Status do certificado cliente homologação"
                          cliente_key_homologacao:
                            type: string
                            example: "presente"
                            description: "Status da chave privada homologação"
                          cliente_producao:
                            type: string
                            example: "ausente"
                            description: "Status do certificado cliente produção"
                          cliente_key_producao:
                            type: string
                            example: "ausente"
                            description: "Status da chave privada produção"
                          efi_homologacao:
                            type: string
                            example: "presente"
                            description: "Status do certificado EFI homologação"
                          efi_producao:
                            type: string
                            example: "ausente"
                            description: "Status do certificado EFI produção"
                      configuracao_ssl:
                        type: object
                        properties:
                          verificacao_ssl:
                            type: string
                            example: "desabilitada"
                            description: "Status da verificação SSL"
                          tls_mutuo:
                            type: string
                            example: "configurado_automaticamente"
                            description: "Status do TLS mútuo"
                          certificados_cliente:
                            type: string
                            example: "homologacao"
                            description: "Tipo de certificados cliente em uso"
        '500':
          description: Erro ao verificar status SSL
          content:
            application/json:
              schema:
                type: object
                properties:
                  codRetorno:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: "Erro ao verificar status SSL"
                  error:
                    type: string
                    example: "Detalhes do erro"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Usuario:
      type: object
      properties:
        id:
          type: integer
        primeiroNome:
          type: string
        sobrenome:
          type: string
        apelido:
          type: string
        cpf:
          type: string
        email:
          type: string
        telefone:
          type: string
        idPlano:
          type: integer
        dataNascimento:
          type: string
          format: date
        status:
          type: integer
        ultimoAcesso:
          type: string
          format: date-time

    Pasta:
      type: object
      properties:
        id:
          type: integer
        nome:
          type: string
        path:
          type: string
        idPastaPai:
          type: integer
          nullable: true
        subpastas:
          type: array
          items:
            $ref: '#/components/schemas/Pasta'
        imagens:
          type: array
          items:
            $ref: '#/components/schemas/Imagem'

    Imagem:
      type: object
      properties:
        id:
          type: integer
        path:
          type: string
        taken_at:
          type: string
          format: date-time

    Plano:
      type: object
      properties:
        id:
          type: integer
        nome:
          type: string
        descricao:
          type: string
        valor:
          type: number
        quantidadeTags:
          type: integer
        quantidadeFotos:
          type: integer
        quantidadePastas:
          type: integer
        quantidadeSubpastas:
          type: integer
        online:
          type: boolean
        frequenciaCobranca:
          type: integer

    PlanoInput:
      type: object
      required:
        - nome
        - descricao
        - valor
        - quantidadeTags
        - quantidadeFotos
        - quantidadePastas
        - online
        - frequenciaCobranca
      properties:
        nome:
          type: string
          example: "Teste plano EFI"
        descricao:
          type: string
          example: "Teste"
        valor:
          type: number
          example: 1
        quantidadeTags:
          type: integer
          example: 1
        quantidadeFotos:
          type: integer
          example: 1
        quantidadePastas:
          type: integer
          example: 1
        online:
          type: boolean
          example: true
        frequenciaCobranca:
          type: integer
          example: 12

    Regras:
      type: object
      properties:
        pode_criar_nova_pasta:
          type: boolean
        pode_criar_subpastas:
          type: boolean

    Tag:
      type: object
      properties:
        id:
          type: integer
          example: 1
        nome:
          type: string
          example: "Família"
        tipo:
          type: string
          enum: [pessoal, global]
          description: "Tipo da tag - pessoal (criada pelo usuário) ou global (criada por admin)"
          example: "pessoal"
        criada_em:
          type: string
          format: date-time
          example: "2024-01-15 10:30:00"

    TagsResponse:
      type: object
      properties:
        total:
          type: integer
          description: "Total de tags disponíveis para o usuário"
          example: 15
        pessoais:
          type: integer
          description: "Número de tags pessoais criadas pelo usuário"
          example: 10
        globais:
          type: integer
          description: "Número de tags globais/administrativas disponíveis"
          example: 5
        lista:
          type: array
          items:
            $ref: '#/components/schemas/Tag'

tags:
  - name: Test
    description: Endpoints de teste
  - name: Usuários
    description: Gerenciamento de usuários
  - name: Pastas
    description: Gerenciamento de pastas
  - name: Tags
    description: Gerenciamento de tags pessoais e globais
  - name: Planos
    description: Gerenciamento de planos
  - name: Cupons
    description: Gerenciamento de cupons
  - name: Pagamentos
    description: Processamento de pagamentos